<!DOCTYPE html>
<!--TODO: Format the data here when selecting see flights -->
<html>

<head>

</head>

<body>
	<style type="text/css">
		table,
		th,
		td {
			border: 1px solid black;
		}
	</style>
	{% if message %}
	<p class="error"><strong>Message:</strong> {{message}}</p>
	{% endif %}
	<a href="/login">Login</a>
	<a href="/register">Register</a>
	<form action="/showFlights" method="POST">
		<input type="submit" value='See Flights' />
		{% if data %}
		<table>
			<tr>
				<th>Airline Name</th>
				<th>Flight Number</th>
				<th>Departure Time</th>
				<th>Departure Airport</th>
				<th>Arrival Time</th>
				<th>Arrival Airport</th>
				<th>Base Price</th>
				<th>Status</th>
				<th>Plane ID</th>
			</tr>
			{% for line in data %}
			<tr>
				<td>{{line['AirlineName']}}</td>
				<td>{{line['FlightNum']}}</td>
				<td>{{line['DepartureTime']}}</td>
				<td>{{line['DepartureAirport']}}</td>
				<td>{{line['ArrivalTime']}}</td>
				<td>{{line['ArrivalAirport']}}</td>
				<td>{{line['BasePrice']}}</td>
				<td>{{line['Status']}}</td>
				<td>{{line['PlaneID']}}</td>
			</tr>
			{% endfor %}
		</table>
		{% endif %}
	</form>

</body>

</html>