<html>

<head>
</head>

<!-- Use cases:
    1. View flights (almost done, see all customers of a flight, search by source/destination airports/city)
    2. Create new flights (almost done)
    3. Change status of flights (done)
    4. Add airplane in the system (done)
    5. Add new airport (done)
    6. View flight ratings (done, make sure to check for more populated ratings)
    7. Schedule maintenance (done)
    8. View frequent customer (done)
    9. View earned revenue (done)
    10. Logout (done)
-->

<body>
    {% if message %}
    <p class="error"><strong>Message:</strong> {{message}}</p>
    {% endif %}
    <h1>Welcome {{username}}</h1>
    <style type="text/css">
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>

    {% if customers %}
    <h3>Customers for flight {{flightNum}}</h3>
    <table>
        <th>Customer Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        {% for line in customers %}
        <tr>
            <td>{{line['Email']}}</td>
            <td>{{line['FirstName']}}</td>
            <td>{{line['LastName']}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% if data%}
    <h3>Flights:</h3>
    <table>
        <th>Airline Name</th>
        <th>Flight Number</th>
        <th>Plane ID</th>
        <th>Departure Airport</th>
        <th>Departure Time</th>
        <th>Arrival Time</th>
        <th>Arrival Airport</th>
        <th>Status</th>
        <th>Change Status</th>
        <th>View Customers</th>
        {% for line in data %}
        <tr>
            <td>{{line['AirlineName']}}</td>
            <td>{{line['FlightNum']}}</td>
            <td>{{line['PlaneID']}}</td>
            <td>{{line['DepartureAirport']}}</td>
            <td>{{line['DepartureTime']}}</td>
            <td>{{line['ArrivalTime']}}</td>
            <td>{{line['ArrivalAirport']}}</td>
            <td>{{line['Status']}}</td>
            <td>
                <form action="/staffChangeStatus" method="POST">
                    <input type="hidden" name="flightNum" value="{{line['FlightNum']}}" />
                    <select name="status">
                        <option value="On Time">On Time</option>
                        <option value="Delayed">Delayed</option>
                        <option value="Cancelled">Cancelled</option>
                    </select>
                    <input type="submit" value="Change Status" />
                </form>
            </td>
            <td>
                <form action="/staffViewCustomers" method="POST">
                    <input type="hidden" name="flightNum" value="{{line['FlightNum']}}" />
                    <input type="hidden" name="flights" value="{{data}}">
                    <input type="submit" value="View Customers" />
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <form action="/staffShowFlights" method="POST">
        <h3>Search Filters:</h3>
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" name="startDate" placeholder="Start Date" /> <br>
        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" name="endDate" placeholder="End Date" /> <br>
        <label for="departureAirport">Departure Airport:</label>
        <input type="text" id="departureAirport" name="departureAirport" placeholder="Departure Airport Code" /> <br>
        <label for="arrivalAirport">Arrival Airport:</label>
        <input type="text" id="arrivalAirport" name="arrivalAirport" placeholder="Arrival Airport Code" /> <br>
        <input type="submit" value='See Flights' />
    </form>
    <h1>Utilities: </h1>
    {% if ratings %}
    <table>
        <th>Flight Number</th>
        <th>Email</th>
        <th>Rating</th>
        <th>Comment</th>
        {% for line in ratings %}
        <tr>
            <td>{{line['FlightNum']}}</td>
            <td>{{line['Email']}}</td>
            <td>{{line['Rating']}}</td>
            <td>{{line['Comment']}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <form action="/staffShowRatings" method="POST">
        <input type="submit" value='See Ratings' />
    </form>
    {% if customer %}
    {% for line in customer %}
    <h3>Most Frequent Customer: </h3>
    <p>{{line['Email']}}</p>
    {% endfor %}
    <h3>Their flights:</h3>
    <table>
        <th>Flight Number</th>
        <th>Departure Airport</th>
        <th>Departure Time</th>
        <th>Arrival Airport</th>
        <th>Arrival Time</th>
        {% for line in customerFlights %}
        <tr>
            <td>{{line['FlightNum']}}</td>
            <td>{{line['DepartureAirport']}}</td>
            <td>{{line['DepartureTime']}}</td>
            <td>{{line['ArrivalAirport']}}</td>
            <td>{{line['ArrivalTime']}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <form action="/staffShowFrequent" method="POST">
        <input type="submit" value='See Most Frequent Customer' />
    </form>
    {% if monthly %}
    {% for line in monthly %}
    <h3>Monthly Earned Revenue:</h3>
    <p>${{line['SUM(calculatedPrice)']}}</p>
    {% endfor %}
    {% endif %}
    {% if yearly %}
    {% for line in yearly %}
    <h3>Yearly Earned Revenue:</h3>
    <p>${{line['SUM(calculatedPrice)']}}</p>
    {% endfor %}
    {% endif %}
    <form action="/staffShowRevenue" method="POST">
        <input type="submit" value='View Earned Revenue' />
    </form>
    <h1>Add Flight</h1>
    <form action="/staffAddFlight" method="POST">
        <label for="flightNum">Flight Number:</label>
        <input type="text" id="flightNum" name="flightNum" placeholder="Flight Number" required /> <br>
        <label for="departureTime">Departure Time:</label>
        <input type="datetime-local" id="departureTime" name="departureTime" placeholder="Departure Time" required />
        <br>
        <label for="departureAirport">Departure Airport:</label>
        <input type="text" id="departureAirport" name="departureAirport" placeholder="Departure Airport" required />
        <br>
        <label for="arrivalTime">Arrival Time:</label>
        <input type="datetime-local" id="arrivalTime" name="arrivalTime" placeholder="Arrival Time" required /> <br>
        <label for="arrivalAirport">Arrival Airport:</label>
        <input type="text" id="arrivalAirport" name="arrivalAirport" placeholder="Arrival Airport" required /> <br>
        <label for="basePrice">Base Price:</label>
        <input type="text" id="basePrice" name="basePrice" placeholder="Base Price" required /> <br>
        <label for="status">Status:</label>
        <select id="status" name="status">
            <option value="On Time">On Time</option>
            <option value="Delayed">Delayed</option>
            <option value="Cancelled">Cancelled</option>
        </select> <br>
        <input type="submit" value="Add Flight" />
    </form>
    <h1>Add Airplane</h1>
    <form action="/staffAddAirplane" method="POST">
        <label for="planeID">Plane ID:</label>
        <input type="text" id="planeID" name="planeID" placeholder="Plane ID" required /> <br>
        <label for="numSeats">Number of Seats:</label>
        <input type="text" id="numSeats" name="numSeats" placeholder="Number of Seats" required /> <br>
        <label for="manufacturer">Manufacturer:</label>
        <input type="text" id="manufacturer" name="manufacturer" placeholder="Manufacturer" required /> <br>
        <label for="modelNum">Model Number:</label>
        <input type="text" id="modelNum" name="modelNum" placeholder="Model Number" required /> <br>
        <label for="manufactureDate">Manufacture Date:</label>
        <input type="date" id="manufactureDate" name="manufactureDate" placeholder="Manufacture Date" required /> <br>
        <input type="submit" value="Add Airplane" />
    </form>
    <h1>Add Airport</h1>
    <form action="/staffAddAirport" method="POST">
        <label for="airportCode">Airport Code:</label>
        <input type="text" id="airportCode" name="airportCode" placeholder="Airport Code" required /> <br>
        <label for="airportName">Airport Name:</label>
        <input type="text" id="airportName" name="airportName" placeholder="Airport Name" required /> <br>
        <label for="airportCity">Airport City:</label>
        <input type="text" id="airportCity" name="airportCity" placeholder="Airport City" required /> <br>
        <label for="airportState">Airport State:</label>
        <input type="text" id="airportState" name="airportState" placeholder="Airport State" required /> <br>
        <label for="numTerminals">Number of Terminals:</label>
        <input type="text" id="numTerminals" name="numTerminals" placeholder="Number of Terminals" required /> <br>
        <label for="type">Type:</label>
        <select id="type" name="type">
            <option value="International">International</option>
            <option value="Domestic">Domestic</option>
            <option value="Cancelled">Both</option>
        </select>
        <br>
        <input type="submit" value="Add Airport" />
    </form>
    <h1>Schedule Maintenance</h1>
    <form action="/staffScheduleMaintenance" method="POST">
        <label for="planeID">Plane ID:</label>
        <input type="text" id="planeID" name="planeID" placeholder="Plane ID" required /> <br>
        <label for="maintenanceID">Maintenance ID:</label>
        <input type="text" id="maintenanceID" name="maintenanceID" placeholder="Maintenance ID" required /> <br>
        <label for="start">Start:</label>
        <input type="datetime-local" id="start" name="start" placeholder="Start" required /> <br>
        <label for="end">End:</label>
        <input type="datetime-local" id="end" name="end" placeholder="End" required /> <br>
        <input type="submit" value="Schedule Maintenance" />
    </form>
    <a href="/logout">Logout</a>
</body>


</html>