<html>

<head>
</head>

<!-- # In order to add flights to the userHome, have to run an sql query that finds all flights that the user has a ticket to (sql select [idk select all info from flight] from flight as f, ticket as t, purhcase as p, customer as c, where c.email = p.email and p.ticketID = t.TicketId, t.flightNum = f.flightnum -->

<!-- Use cases:
    1. View my flights (almost done, default to showing future flights)
    2. Search for flights (almost done, don't show flights that already went)
    3. Purchase ticket
    4. Cancel trip
    5. Give ratings
    6. Track spending
    7. Logout (done)
-->

<body>
    {% if message %}
    <p class="error"><strong>Message:</strong> {{message}}</p>
    {% endif %}
    <form action="/post" method="POST">
        <h1>Welcome {{firstName}}</h1>
    </form>

    <form action="/userViewFlights" method="POST">
        <input type="submit" value="View My Flights" />
    </form>
    {% if flights %}
    <table>
        <th>Flight Number</th>
        <th>Airline Name</th>
        <th>Ticket ID</th>

        {% for line in flights %}
        <tr>
            <td>{{line['FlightNum']}}</td>
            <td>{{line['AirlineName']}}</td>
            <td>{{line['TicketID']}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <h1>Search For Flights</h1>
    <form action="/userSearchFlights" method="POST">
        <label for="departureAirport">Departure Airport:</label>
        <input type="text" id="departureAirport" name="departureAirport" placeholder="Departure Airport Code" /> <br>
        <label for="city">City:</label>
        <input type="text" id="city" name="city" placeholder="City" /> <br>
        <label for="arrivalAirport">Arrival Airport:</label>
        <input type="text" id="arrivalAirport" name="arrivalAirport" placeholder="Arrival Airport Code" /> <br>
        <label for="departureTime">Departure Time:</label>
        <input type="datetime-local" id="departureTime" name="departureTime" placeholder="Departure Time" />
        <br>
        <label for="arrivalTime">Arrival Time:</label>
        <input type="datetime-local" id="arrivalTime" name="arrivalTime" placeholder="Arrival Time" /> <br>
        <input type="submit" value="Search Flights" />
    </form>
    {% if searched%}
    <table>
        <th>Flight Number</th>
        <th>Airline Name</th>
        <th>Departure Time</th>
        <th>ArrivalTime</th>

        {% for line in searched%}
        <tr>
            <td>{{line['FlightNum']}}</td>
            <td>{{line['AirlineName']}}</td>
            <td>{{line['DepartureTime']}}</td>
            <td>{{line['ArrivalTime']}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <a href="/userLogout">Logout</a>

</body>


</html>