<!DOCTYPE html>
<html>

<head>
    <script>
        function updateValue(val) {
            document.getElementById('value').innerText = val;
        }
    </script>
</head>

<body>
    <form action="/userSubmitRating" method="POST">
        <!-- hidden input for flight number -->
        <h3>Review for flight number: {{flightNum}}</h3>
        <input type="hidden" name="flightNum" value="{{flightNum}}" />

        <label for="rating">Rating:</label>
        <input type="range" min="1" max="10" value="1" id="rating" name="rating" oninput="updateValue(this.value)">
        <span id="value">1</span><br <label for="comment">Comments:</label>
        <textarea id="comment" name="comment"></textarea>

        <button type="submit">Submit</button>
    </form>
</body>

</html>